html{
	overflow-y: scroll;
}
html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #222;
	background-image: linear-gradient(#333, #222);
	background-repeat: no-repeat;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
::selection{
	background-color: orange;
	color: white;
}
img::selection{
	background-color: transparent !important;
}

h1::first-letter{
	color: orange;
}

h1{
	position: fixed;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
}

h2{
	margin: 0;
	font-size: 32px;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: orange;
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

/* button{
	background-color: transparent;
	color: white;
} */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background-image: linear-gradient(#333, #222);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: orange;
	border-radius: 16px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
  } */
  nav{
	display: inline-flex;
	width: 100%;
	border-bottom: #666 solid 1px;
	align-items: center;
	padding: 16px;
	box-sizing: border-box;
	justify-content: space-between;
  }
  nav div{
	margin-left: auto;
  }