.player{
    display: flex;
    flex-direction: column;
}
.container{
    margin: auto;
    /* display: flex; */
    min-width: none;
    max-width: 1080px;
    /* justify-content: center; */
    padding: 15px;
}
.current-song{
    background-color: #333;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.head{
    display: flex;
    flex-direction: row;
}
.info{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.control{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.icon{
    font-size: 24px;
    margin: 0px 16px;
    padding: 16px 20px;
    border-radius: 32px;
    border: 1px white solid;
    cursor: pointer;
}
.pause{
    padding: 16px 20px !important;
}
.play{
    padding: 16px 18.5px !important;
}
.replay{
    padding: 16px 15px;
}
.icon:active{
    transform: scale(0.9);
    color: orange;
    border-color: orange;
}
.card{
    display: flex;
    flex-direction: row;
    border: #666 1px;
    border-style: solid none;
    padding: 16px 0px 16px 16px;
}
.card:hover{
    cursor: pointer;
    background-color: #444;
}
.active{
    background-color: #666;
}
.active:hover{
    background-color: #666 !important;
}
.nav{
    margin-top: 6px;
}
.nav:hover{
    color: orange;
}
.card-img, .cover img{
    object-fit: cover;
}
.cover img{
    width: 144px;
    height: 144px;
}
.card-img img{
    width: 64px;
    height: 64px;
}
.card-img{
    margin: 0px 16px 0px 0px;
    display: flex;
    align-items: center;
}
.card-content h3{
    margin: 0px;
}
.card-content p{
    margin: 0px;
}
.audio{
    width: 100%;
    margin-top: 16px;
}
.lyrics{
    font-size: 32px;
    font-weight: bold;
    width: 70%;
}
.genius{
    text-align: center;
}
.audio-control{
    width: 90%;
    margin: 0px;
    padding: 0px;
    accent-color: orange;
    cursor: pointer;
}
.duration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.timestamp{
    cursor: pointer;
}
.timestamp:active{
    color: orange;
}